
body {
  color:#40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.profile{
  margin: 100px 0 50px;
}
h1 {
  color: #66BFBF;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 100px;
}

h2{
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.4rem;
}

h3{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

hr {
  border: dotted #EAF6F6 6px;
  width: 4%;
  border-bottom: none

}

p {
  line-height: 2;
}

.top-container {
  background-color: #EAF6F6;
  padding-top: 150px;
  position: relative;
}


.dev{
  text-decoration: underline;
}

.top-cloud{
  position: absolute;
  top:100px;
  right:300px;
}


.bottom-cloud{
  position: absolute;
  left:300px;
}


.skill-row{
  width: 50%;
  margin: 50px auto 250px auto;
  text-align: left;
  line-height: 2;
}

.code-gif{
  width:25%;
  float: left;
  margin-right: 30px;
}

.cosmo-gif{
  width:25%;
  float:right;
  margin-left: 30px;

}

.btn {
  background: #66BFBF;
  background-image: -webkit-linear-gradient(top, #66BFBF, #11999E);
  background-image: -moz-linear-gradient(top, #66BFBF, #11999E);
  background-image: -ms-linear-gradient(top, #66BFBF, #11999E);
  background-image: -o-linear-gradient(top, #66BFBF, #11999E);
  background-image: linear-gradient(to bottom, #66BFBF, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.contact-me{
  width: 40%;
  margin : 40px auto 80px;
}

.contact-message{
  width:60%;
  margin:20px auto 40px auto;
}

.bottom-container{
  background-color:#66BFBF;
  padding: 50px 0 20px;
}

a {

  color:#18978F;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
text-decoration: none;

}

a:hover{
  color:#EAF6F6;
}

.copyright{
  color:#EAF6F6;
  font-size: 0.75rem;
  padding:20px 0;
}

.footer-link{
  color: white;
}
